* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    max-width: 1800px;
    width: 100%;
}

.grid-item {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(126, 126, 126, 0.2), rgba(0, 0, 0, 0.2));
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1;
    pointer-events: none; /* Prevent ::before from blocking interactions */
}

.grid-item:hover::before {
    opacity: 1;
}

.grid-item-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2em;
    text-align: left;
}

/* Custom item sizes and positions */
.item1 {
    grid-column: span 3;
    grid-row: span 2;
}

.item2 {
    grid-column: span 4;
    grid-row: span 2;
}

.item3 {
    grid-column: span 5;
    grid-row: span 2;
}

.item4 {
    grid-column: span 3;
    grid-row: span 1;
}

.item5 {
    grid-column: span 9;
    grid-row: span 4;
}

.item6 {
    grid-column: span 3;
    grid-row: span 1;
}

.item8 {
    grid-column: span 3;
    grid-row: span 2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .bento-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .item1 {
        grid-column: span 6;
    }

    .item2 {
        grid-column: span 6;
    }

    .item3 {
        grid-column: span 6;
    }

    .item4 {
        grid-column: span 6;
    }

    .item5 {
        grid-column: span 6;
    }

    .item6 {
        grid-column: span 6;
    }

    .item8 {
        grid-column: span 6;
    }
}