/* button-cv CV */
.button-container {
  display: flex;
}

/* Download CV */
.button-cv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #087990;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px #141414;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
  }
  
  .icon-tabler-download {
    width: 20px;
    transition-duration: .3s;
  }
  
  .icon-tabler-download path {
    fill: transparent;
  }
  
  .button-cv:hover {
    width: 150px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: #087990;
    align-items: center;
  }
  
  .button-cv:hover .icon-tabler-download {
    opacity: 0;
    transition-duration: .3s;
  }
  
  .button-cv::before {
    position: absolute;
    top: -22px;
    content: "Descargar CV";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .button-cv:hover::before {
    font-size: 16px;
    font-family: 'Darker Grotesque';
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

/* Redirect Github */
.button-github {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #010409;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px #141414;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}

.icon-tabler-brand-github {
  width: 25px;
  transition-duration: .3s;
}

.icon-tabler-brand-github path {
  fill: transparent;
}

.button-github:hover {
  width: 150px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #010409;
  align-items: center;
}

.button-github:hover .icon-tabler-brand-github {
  opacity: 0;
  transition-duration: .3s;
}

.button-github::before {
  position: absolute;
  top: -22px;
  content: "Github";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button-github:hover::before {
  font-size: 16px;
  font-family: 'Darker Grotesque';
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

/* Redirect Linkedin */
.button-linkedin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0A66C2;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px #141414;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}

.icon-tabler-brand-linkedin {
  width: 23px;
  transition-duration: .3s;
}

.icon-tabler-brand-linkedin path {
  fill: transparent;
}

.button-linkedin:hover {
  width: 150px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #0A66C2;
  align-items: center;
}

.button-linkedin:hover .icon-tabler-brand-linkedin {
  opacity: 0;
  transition-duration: .3s;
}

.button-linkedin::before {
  position: absolute;
  top: -22px;
  content: "LinkedIn";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button-linkedin:hover::before {
  font-size: 16px;
  font-family: 'Darker Grotesque';
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

/* Redirect X */
.button-x {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px #141414;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin-right: 30px;
}

.icon-tabler-brand-x {
  width: 25px;
  transition-duration: .3s;
}

.icon-tabler-brand-x path {
  fill: transparent;
}

.button-x:hover {
  width: 150px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #000000;
  align-items: center;
}

.button-x:hover .icon-tabler-brand-x {
  opacity: 0;
  transition-duration: .3s;
}

.button-x::before {
  position: absolute;
  top: -22px;
  content: "Twitter";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button-x:hover::before {
  font-size: 16px;
  font-family: 'Darker Grotesque';
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 2em;
  transform: translateX(290px) translateY(-10px);
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "ES";
  height: 90%;
  width: 48%;
  left: 2%;
  border-radius: 20px;
  background-color: white;
  color: #0DCAF0;
  display: grid;
  align-content: center;
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 -1.31em 1.31em -1.31em rgba(0, 0, 0, 0.3) inset, 0 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: .4s;
}

.slider:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 1.71em;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
  z-index: -1;
}

.switch input:checked + .slider {
  background-color: #0DCAF0;
  color: #fff;
}

.switch input:checked + .slider:before {
  content: "EN";
  transform: translateX(100%);
  color: #0DCAF0;
}

.switch input {
  display: none;
}


