    /* ---- particles.js container ---- */

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background: 
        repeating-linear-gradient(
            -45deg,
            #191919,
            #191919 1px,
            transparent 1px,
            transparent 100px
        );
    }
    
    /* ---- stats.js ---- */
    
    .count-particles{
        background: #000022;
        position: absolute;
        top: 48px;
        left: 0;
        width: 80px;
        color: #13E8E9;
        font-size: .8em;
        text-align: left;
        text-indent: 4px;
        line-height: 14px;
        padding-bottom: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    
    .js-count-particles{
        font-size: 1.1em;
    }
    
    #stats,
    .count-particles{
        user-select: none;
    }
    
    #stats{
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }
    
    .count-particles{
        border-radius: 0 0 3px 3px;
    }
    
    
    /* cursor modifications */
    :root {
        cursor: default;
        --cursorX: 50vw;
        --cursorY: 50vh;
    }

    :root:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        pointer-events: none;
        background: radial-gradient(
            circle 20vmax at var(--cursorX) var(--cursorY),
            rgba(241, 240, 240, 0) 0%,
            rgba(27, 27, 27, 0.25) 0%,
            rgba(0, 0, 0, 0.475) 100% 
        );
        mix-blend-mode: screen;
        transition: transform 0.1s ease-out;
    }
    
    /* Modifications --------------------- */
    @font-face {
        font-family: 'Darker Grotesque';
        src: url('./assets/fonts/DarkerGrotesque-VariableFont_wght.ttf') format('truetype');
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    } 

    .navbar {
        max-width: 800px; 
        border: solid 1px #191919; 
        border-radius: 50px; 
        margin-top: 50px;
        margin-bottom: 80px;
        transform: translateY(20px);
    }

    .navbar-nav > li > .dropdown-menu { background-color: #000000; }


    footer {
        opacity: 0.5;
    }

    
    .background-style {
        margin: 0;
        height: 100vh;
        background: 
            repeating-linear-gradient(
                -45deg,
                #191919,
                #191919 1px,
                transparent 1px,
                transparent 100px
            );
    }

    .background-general-sections {
        margin: 0;
        height: 300vh;
    }

    .text-mod-landing {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 6vh;
    }

    .text-mod-nav {
        font-family: 'Darker Grotesque', sans-serif;
    }

    .text-mod-about-me {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 3vh;
    }

    .text-mod-tech {
        font-family: 'Darker Grotesque', sans-serif;
    }


    .container-section {
        margin: 0;
        height: 100vh;
        background: radial-gradient(circle, #191919 1px, transparent 1px) 0 0 / 20px 20px repeat,
        repeating-linear-gradient(
            45deg,
            #191919,
            #191919 1px,
            transparent 1px,
            transparent 100px
        );
    }

    .center {
        margin-left: auto; 
        margin-right: auto;
    }

    /* portofolio -------------------------------------- */

    .container-content-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 100px;
        padding-top: 150px;
        opacity: 0; 
        transform: translateY(20px); 
        transition: opacity 1s ease-out, transform 0.5s ease-out; 
    }

    .container-content-portfolio.visible {
        opacity: 1;
        transform: translateY(0);
    }
    
    .img-position {
        position: absolute; 
        top: 0; 
        left: 0;
    }

    .image {
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }

    .port-img {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    /* Rectangle 1 options */
    .rectangle-1 {
        position: relative;
        background-image: url(./assets/images/png/Crvice-logo.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-1::before,
    .rectangle-1::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-1::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-1::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-1:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-1:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-1::before {
        transition: height 0.5s ease;
    }
    
    .rectangle-1::after {
        transition: width 0.5s ease; 
    }
    
    /* Al quitar el hover */
    .rectangle-1:not(:hover)::before {
        transition-delay: 0.5s; 
    }
    
    .rectangle-1:not(:hover)::after {
        transition-delay: 0s; 
    }
    
    /* portfolio hover image */
    .rectangle-1:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-1:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 1 options */

    /* Rectangle 2 options */
    .rectangle-2 {
        position: relative;
        background-image: url(./assets/images/png/outer_games.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-2::before,
    .rectangle-2::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-2::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-2::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-2:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-2:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-2::before {
        transition: height 0.5s ease;
    }

    .rectangle-2::after {
        transition: width 0.5s ease; 
    }

    /* Al quitar el hover */
    .rectangle-2:not(:hover)::before {
        transition-delay: 0.5s; 
    }

    .rectangle-2:not(:hover)::after {
        transition-delay: 0s; 
    }

    /* portfolio hover image */
    .rectangle-2:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-2:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 2 options */

    /* Rectangle 3 options */
    .rectangle-3 {
        position: relative;
        background-image: url(./assets/images/png/tw_enciclopedia.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-3::before,
    .rectangle-3::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-3::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-3::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-3:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-3:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-3::before {
        transition: height 0.5s ease;
    }

    .rectangle-3::after {
        transition: width 0.5s ease; 
    }

    /* Al quitar el hover */
    .rectangle-3:not(:hover)::before {
        transition-delay: 0.5s; 
    }

    .rectangle-3:not(:hover)::after {
        transition-delay: 0s; 
    }

    /* portfolio hover image */
    .rectangle-3:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-3:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 3 options */


    /* Rectangle 4 options */
    .rectangle-4 {
        position: relative;
        background-image: url(./assets/images/png/Crvice-logo.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-4::before,
    .rectangle-4::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-4::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-4::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-4:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-4:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-4::before {
        transition: height 0.5s ease;
    }

    .rectangle-4::after {
        transition: width 0.5s ease; 
    }

    /* Al quitar el hover */
    .rectangle-4:not(:hover)::before {
        transition-delay: 0.5s; 
    }

    .rectangle-4:not(:hover)::after {
        transition-delay: 0s; 
    }

    /* portfolio hover image */
    .rectangle-4:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-4:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 4 options */

    /* Rectangle 5 options */
    .rectangle-5 {
        position: relative;
        background-image: url(./assets/images/png/Crvice-logo.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-5::before,
    .rectangle-5::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-5::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-5::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-5:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-5:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-5::before {
        transition: height 0.5s ease;
    }

    .rectangle-5::after {
        transition: width 0.5s ease; 
    }

    /* Al quitar el hover */
    .rectangle-5:not(:hover)::before {
        transition-delay: 0.5s; 
    }

    .rectangle-5:not(:hover)::after {
        transition-delay: 0s; 
    }

    /* portfolio hover image */
    .rectangle-5:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-5:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 5 options */

    /* Rectangle 6 options */
    .rectangle-6 {
        position: relative;
        background-image: url(./assets/images/png/Crvice-logo.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 0 20px #191919;
        border-radius: 15px;
        overflow: hidden;
        transition: border 0.5s ease; 
    }

    .rectangle-6::before,
    .rectangle-6::after {
        content: "";
        position: absolute;
        background-color: #fff;
        transition: all 1s ease;
    }

    /* vertical */
    .rectangle-6::before {
        top: 10px;
        left: 10px;
        width: 2px;
        height: 0;
        z-index: 2; 
    }

    /* horizontal */
    .rectangle-6::after {
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        z-index: 2;
    }

    .rectangle-6:hover::before {
        height: calc(100% - 20px);
        transition-delay: 0s; 
    }

    .rectangle-6:hover::after {
        width: calc(100% - 20px);
        transition-delay: 0.5s;
    }

    .rectangle-6::before {
        transition: height 0.5s ease;
    }

    .rectangle-6::after {
        transition: width 0.5s ease; 
    }

    /* Al quitar el hover */
    .rectangle-6:not(:hover)::before {
        transition-delay: 0.5s; 
    }

    .rectangle-6:not(:hover)::after {
        transition-delay: 0s; 
    }

    /* portfolio hover image */
    .rectangle-6:hover .image {
        opacity: 1;
        transition: opacity 0.5s ease 0.5s;
        position: relative;
        z-index: 1;
    }

    .rectangle-6:hover .image {
        opacity: 1;
        background-image: none;
    }
    /* Rectangle 6 options */

    /* about me -------------------------------------- */

    .container-content-aboutme {
        display: grid;
        padding: 200px;
        grid-template-columns: repeat(2, 1fr);
        max-height: 100vh;
    }

    .about-me {
        transform: translateY(-50px);
        width: 100%;
        height: auto;
        max-height: 80vh;
        opacity: 0; 
        transition: opacity 1s ease-out, transform 1s ease-out; 
    }

    .about-me.visible {
        opacity: 1; 
        transform: translateY(0); 
    }

    .about-me-title {
        transform: translateY(-50px);
        width: 70%;
        height: auto;
        max-height: 80vh;
        padding-left: 15px;
    }

    .about-me-subtitle {
        transform: translateY(-50px);
        width: 85%;
        height: auto;
        max-height: 80vh;
        padding-left: 15px;
        padding-right: 20px;
    }

    .text-justify {
        text-align: justify;
    }


    /* hobbies about me */
    .hobbies {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        position: relative;
        border: 2px solid transparent;
        border-radius: 50px;
        background-clip: padding-box;
    }
    
    .hobbies::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: 50px;
        box-shadow: 0 0 20px 5px #191919;
        animation: glowAnimation 4s linear infinite;
    }
    
    @keyframes glowAnimation {
        0% {
            box-shadow: 0 0 10px 2px #191919, 0 0 20px 5px #191919, 0 0 30px 10px rgba(25, 25, 25, 0.5);
        }
        25% {
            box-shadow: 0 0 15px 3px #191919, 0 0 25px 6px #191919, 0 0 35px 12px rgba(25, 25, 25, 0.5);
        }
        50% {
            box-shadow: 0 0 20px 5px #191919, 0 0 30px 10px #191919, 0 0 40px 15px rgba(25, 25, 25, 0.5);
        }
        75% {
            box-shadow: 0 0 15px 3px #191919, 0 0 25px 6px #191919, 0 0 35px 12px rgba(25, 25, 25, 0.5);
        }
        100% {
            box-shadow: 0 0 10px 2px #191919, 0 0 20px 5px #191919, 0 0 30px 10px rgba(25, 25, 25, 0.5);
        }
    }

    .hobbies-header {
        text-align: center;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 4vh;
    }
    
    .rectangulo-aboutme {
        width: 500px;
        height: auto;
        position: relative;
        overflow: hidden;
        transform: translateY(-50px);
    }
    
    .rectangulo-aboutme p {
        text-align: center;
    }

    .container-solanum {
        display: inline-block;
        width: 100vh;
        height: 50px;
        box-shadow: 0 0 20px #191919;
        background: #000000;
        border-radius: 50px;
        transform: translateX(350px);
    }
    
    .typewriter-text {
        display: inline;
    }

    .typewriter-cursor {
        display: inline;
        animation: blink-cursor 0.7s steps(1) infinite;
        border-right: 0.1em solid;
    }

    @keyframes blink-cursor {
        from { border-color: transparent; }
        to { border-color: currentColor; }
    }

    /* tech stack */

    .container-tech-box {
        transform: translateY(100px);
    }

    .container-tech {
        width: 60%;
        height: 60vh;
        max-height: 80vh;
        font-size: 3.5vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        transform: translateX(260px);
    }
    
    .container-tech-study {
        width: 100%;
        height: 20vh;
        max-height: 20vh;
        font-size: 3.5vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-tech-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .container-tech-icons .column {
        display: flex;
        flex-direction: column;
    }
    
    .container-tech-study-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .tech-icon {
        width: 100px;
        height: 100px;
        margin: 35px;
        opacity: 0.5;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .tech-icon:hover {
        opacity: 1;
        transform: scale(1.1);
    }


    /* animations ------------------------ */

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .dropdown-menu.fade-in {
        animation: fadeIn 0.5s ease;
    }
    

    /* Media Responsive -------------------------------------------------------------------- */

    /* Mobiles */
    @media only screen and (max-width: 600px) {
        body, html {
            overflow-x: hidden;
        }

        #particles-js {
            display: none;
        }

        .navbar-toggler{
            margin-left: 1.5vh;
        }

        
        .bi-dot {
            display: none;
        }

        /* Portofolio */
        .container-content-portfolio {
            grid-template-columns: repeat(1, 1fr);
            width: auto;
            max-height: 910px;
        }

        .rectangle-1 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        .rectangle-2 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        .rectangle-3 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        .rectangle-4 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        .rectangle-5 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        .rectangle-6 {
            position: relative; 
            transform: translateY(-60px);
            width: 200px;
        }

        /* About me */
        .container-content-aboutme {
            padding: 15px;
            grid-template-columns: 1fr;
        }
    
        .about-me {
            margin-top: 7.5vh;
            height: 400px;
            transform: translateY(-30px);
            max-height: vh;
        }
    
        .about-me-title, .about-me-subtitle {
            position: relative;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 2vh;
        }
    
        .rectangulo-aboutme {
            width: 100%;
            height: 35vh;
            transform: translate(0);
        }
    
        .container-solanum {
            width: 100%;
            height: auto;
            font-size: 1.8vh;
            border-radius: 10px;
            transform: translateY(-60px);
        }

        /* tech stack */

        .container-tech-icons {
            grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
            max-height: 1fr;
        }
    
        .container-tech-study-icons {
            width: 100%;
            grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
            gap: 10px;
            font-size: 2.5vh;
        }

        .container-tech {
            width: auto;
            transform: translateX(0px);
            font-size: 2.5vh;
        }

        .tech-icon {
            width: 64px;
            height: 64px;
            margin: 20px;
        }
        
    }

   /* Tablets */
    @media only screen and (min-width: 601px) and (max-width: 959px) {
        .container-content-portfolio {
            grid-template-columns: repeat(2, 1fr);
        }
    }







